/* Definição geral para todos os elementos dentro do cabeçalho */
header * {
    display: inline-block;
    vertical-align: middle;
}

/* Estilos gerais para o corpo da página */
body {
    background-color: #EEEEEE;
}

/* Reset de margens, preenchimentos e box-sizing para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DF901A;
    padding: 5px;
    width: auto;
    height: 80px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

/* Estilos para o título do cabeçalho */
.header h1 {
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 64px;
    padding-top: 10px;
    line-height: 85px;
    text-align: left;
    padding: 0 15px;
    transition: text-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Animação de Sombra e Escala */
.header h1:hover {
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2), 0px 6px 6px rgba(0, 0, 0, 0.2), 0px 6px 6px rgba(0, 0, 0, 0.2), 0px 6px 6px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}


/* Estilos para a caixa de busca */
#search {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    background-color: #F5F5F5;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 10px;
    font-size: 18px;
    padding: 8px 40px;
    text-align: left;
    /* Alinha o texto do placeholder à esquerda */
    width: 100%;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/* Estilos para o ícone de busca */
.fa-search {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
}

/* Estilos para o contêiner da caixa de busca */
.search-box {
    position: relative;
    margin-left: 500px;
    /* Isso afasta a caixa de busca do lado esquerdo */
}

/* Estilos para o contêiner do ícone de busca */
.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

/* Remover o ícone de "x" para limpar a pesquisa em navegadores que o exibem */
#search::-webkit-search-cancel-button {
    display: none;
}

/* Estilos para a caixa de busca quando está em foco */
#search:focus {
    outline: none;
    /* Remove a borda padrão de foco */
    border-color: #DF901A;
    /* Muda a cor da borda quando está em foco */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
    border-width: 2px;
    /* Aumenta a espessura da borda quando está em foco */
    background-color: #ffffff;
    /* Muda a cor de fundo quando está em foco */
    color: #000000;
    /* Altera a cor do texto quando está em foco */
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

/* Definição de uma fonte personalizada chamada 'Horizon' */
@font-face {
    font-family: 'Horizon';
    src: url('path/to/Horizon.ttf') format('truetype');
}

/* Estilos para a seção de receitas (contêiner) */
#receitas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
    gap: 10px;
}

/* Estilos para cada card de receita */
.card {
    width: 30%;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
    /* Adicione esta linha para posicionar os elementos internos */
    margin: 5px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    background-color: #ffffff;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
    background-color: #f5f5f5;
}

/* Estilos para a imagem dentro de cada card */
.card img {
    display: block;
    width: 100%;
    height: 100%;
    /* Para que a imagem ocupe todo o card */
    object-fit: cover;
    /* Para preencher o espaço da imagem, cortando se necessário */
}

/* Estilos para o texto dentro de cada card */
.card-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: 'Horizon';
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    font-size: 15px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Estilos para o rodapé da página */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #DF901A;
    padding: 10px;
    text-align: center;
    color: white;
}


/* Estilos para o contêiner do ícone de perfil e caixa de opções */
.perfil-container {
    position: relative;
    cursor: pointer;
    margin-right: 25px;
}

/* Estilos para o ícone de perfil */
.perfil-container .fas.fa-user-circle {
    font-size: 40px;
    color: #fff;
    transition: box-shadow 0.2s ease-in-out, transform 0.3s ease-in-out;
    border-radius: 10%;
}

.perfil-container .fas.fa-user-circle:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10%;
}

/* Estilos para a caixa de opções */
.opcoes-perfil {
    margin-top: 5px;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #df901a;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    /* Aumenta o desfoque e a opacidade da sombra */
    padding: 5px 10px;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: visibility 0s, opacity 0.2s, box-shadow 0.2s ease-in-out;
    /* Adiciona transições suaves */
}

/* Estilos para os itens da caixa de opções */
.opcoes-perfil ul {
    list-style-type: none;
    padding: 0;
}

.opcoes-perfil li {
    margin-bottom: 5px;
}

.opcoes-perfil a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.opcoes-perfil a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

/* Estilos para a caixa de opções quando estiver "em foco" (quando for clicada) */
.perfil-container:focus-within .opcoes-perfil {
    visibility: visible;
    opacity: 1;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
    /* Destaque mais forte ao focar */
}