body {
    background-color: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DF901A;
    width: auto;
    height: auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.header h1 {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    transition: text-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    white-space: nowrap;
}

.header h1:hover {
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2), 0px 6px 6px rgba(0, 0, 0, 0.2), 0px 6px 6px rgba(0, 0, 0, 0.2), 0px 6px 6px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

.resultado {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 30px;
    margin: 10px;
}

img {
    max-width: 450px; 
    max-height: 450px; 
    width: auto;
    height: auto;
    border-radius: 5px;
    margin: 5px auto;
    display: block;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.527);

}

.principal h2 {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 40px;
    text-align: center;
    color: #DF901A;
}

.ingredientes-receita h3,
.modo-preparo h3 {
    font-size: 22px;
}

.principal,
.ingredientes-receita,
.modo-preparo {
    color: black;
    font-size: 17px;
    padding: 15px;
    font-family: 'Roboto Mono', monospace;
}

.principal li,
.ingredientes-receita li {
    list-style-type: disc;
    margin-left: 22px;
    margin-top: 2px;
}

.modo-preparo li {
    list-style-type: decimal;
    margin-left: 32px;
    margin-top: 2px;
}

.footer {
    bottom: 0;
    width: 100%;
    background-color: #DF901A;
    padding: 10px;
    text-align: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
    position: relative;
}