/* Estilos gerais */
body {
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cabeçalho */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DF901A;
    padding: 20px;
    padding-right: 0;
    width: auto;
    height: 35px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.header h1 {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 64px;
    font-weight: 400;
    text-align: left;
    transition: text-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
}

.header h1:hover {
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

/* Container principal */
.container {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}

/* Formulário */
.cadastro-container {
    align-items: center;
    width: 600px;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: auto;
    text-align: center;
    
}
form{
    display: flex;
    width: 400px;
    justify-content: center;
    text-align: center;
}

.cadastro-container h2 {
    
    color: #DF901A;
    font-family: 'Horizon', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 10px;
    
}

input[type="text"],
input[type="number"],
textarea,
select {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 90%;
}

/* Botões */
input[type="submit"],
#btn-adicionar-ingrediente,
#btn-adicionar-passo,
.btn-remover {
    font-size: 16px;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="submit"],
#btn-adicionar-ingrediente,
#btn-adicionar-passo {
    width: 90%;
    background-color: #DF901A;
    color: #fff;
    margin-bottom: 8px;
}

.btn-remover {
    background-color: #DF901A;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 50px;
    margin-left: 10px;
}

input[type="submit"]:hover,
#btn-adicionar-ingrediente:hover,
#btn-adicionar-passo:hover,
.btn-remover:hover {
    background-color: #E87506;
    transform: scale(1.1);
}

.btn-remover i {
    font-size: 12px;
}

/* Ingredientes e Modo de Preparo */
.ingrediente,
#modo-preparo-lista li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.ingrediente input[type="text"],
.ingrediente input[type="number"],
.ingrediente select{

   margin-right: 10px;
}

/* Rodapé */
.footer {
    margin-top: 10px;
    background-color: #DF901A;
    padding: 15px;
    color: white;
}
