/* Estilos gerais para o corpo da página */
body {
    background-color: #EEEEEE;
}

/* Reset de margens, preenchimentos e box-sizing para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o cabeçalho */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DF901A;
    padding: 5px;
    width: auto;
    height: 80px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

/* Estilos para o título do cabeçalho */
.header h1 {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 64px;
    font-weight: 400;
    text-align: left;
    transition: text-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
}

/* Animação de Sombra e Escala */
.header h1:hover {
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2), 0px 6px 6px rgba(0, 0, 0, 0.2), 0px 6px 6px rgba(0, 0, 0, 0.2), 0px 6px 6px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 30px auto;
}

/* Estilos para o contêiner do formulário de cadastro */
.login-container,
.cadastro-container {
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Definição de uma fonte personalizada chamada 'Horizon' */
@font-face {
    font-family: 'Horizon';
    src: url('path/to/Horizon.ttf') format('truetype');
}

.or-text {
    color: #DF901A;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin: auto auto;
}

/* Estilos para o título do formulário */
.cadastro-container h2 {
    color: #DF901A;
    font-family: 'Horizon';
    font-size: 30px;
    margin-bottom: 20px;
}

/* Estilos para o formulário */
form {
    display: flex;
    flex-direction: column;
}

/* Estilos para as etiquetas do formulário */
label {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 5px;
}

/* Estilos para os campos de entrada do formulário */
input[type="text"],
input[type="email"],
input[type="password"] {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Estilos para o botão de envio do formulário */
input[type="submit"] {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    background-color: #DF901A;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-top: 8px;
}

input[type="submit"]:hover {
    background-color: #E87506;
}

/* Estilos para a seção de login social */
.social-login {
    text-align: center;
    margin-top: 30px;
}

.social-login p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

/* Estilos para os ícones de login social */
.social-icons a {
    display: inline-block;
    font-size: 30px;
    color: #DF901A;
    margin: 0 10px;
}


.login-container h2 {
    color: #DF901A;
    font-family: 'Horizon';
    font-size: 30px;
    margin-bottom: 20px;
}

/* Estilos para os campos de entrada do formulário de login */
.login-container input[type="email"],
.login-container input[type="password"] {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}

/* Estilo para o rodapé */
.footer {
    background-color: #DF901A;
    padding: 15px;
    color: white;
}

.captcha-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.captcha-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.captcha-input {
    font-family: 'Roboto Mono', monospace;
    margin-top: 8px;
    font-size: 14px;
    width: 200px;
    padding: 8px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
